* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  display: flex;
  max-width: 960px;
  padding: 50px 0;
  margin: 0 auto;
}

.step {
  width: 300px;
  margin: 0 15px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.step-num {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  background-color: #ff9a4b;
  color: #fff;
}

.common-step-img {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step1-img {
  background-image: url(img/flow01.png);
}

.step2-img {
  background-image: url(img/flow02.png);
}

.step3-img {
  background-image: url(img/flow03.png);
}

.step-heading {
  padding: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  main {
    display: block;
    width: 100%;
  }

  .step {
    width: 90%;
    margin: 0 auto 20px;
  }

  .step:last-child {
    margin-bottom: 0;
  }
}